/* Card Modal Styling Begins */
/* .blackout_container {
  position: fixed;
  z-index: 20;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background-color: var(--modal_blackout);
} */

/* .modal_container {
  position: fixed;
  z-index: 30;
  height: auto;
  bottom: 50%;
  right: 50%;
  transform: translate(50%, 50%);
  background-color: var(--navy_blue);
  border: 1px solid var(--cream);
  max-width: 56rem;
  border-radius: 0.375rem;
  width: 83.333333%;
  overflow: hidden;
} */

/* .cm_content {
  height: 100%;
  display: flex;
  flex-direction: column;
} */

/* .close_modal_button {
  position: absolute;
  z-index: 10;
  right: 0.75rem;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.75rem;
  cursor: pointer;
} */

/* .cm_image_container {
  position: relative;
  height: 9rem;
  flex-grow: 1;
} */

/* .cm_image_container:hover {
  overflow: hidden;
} */

/* .cm_img {
  height: 100%;
  opacity: 70%;
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 700ms;
  border: none;
} */

/* .cm_img:hover {
  transform: scale(1.1, 1.1);
  border-bottom-right-radius: 0.5rem;
  border-bottom-left-radius: 0.5rem;
} */

/* .cm_title {
  position: absolute;
  top: 6.5rem;
  bottom: 0rem;
  left: 0rem;
  right: 0rem;
  width: 100%;
  font-weight: 400;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
} */

/* .cm_author {
  position: absolute;
  top: 0.25rem;
  left: 0.25rem;
  font-size: 0.75rem;
  line-height: 1rem;
  opacity: 70%;
} */

/* .cm_body {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: flex-start;
  padding-top: 1rem;
  border-top-width: 1px;
  text-indent: 1.25rem;
} */

/* .cm_date {
  font-size: 1.125rem;
  line-height: 1.75rem;
  text-align: left;
} */

/* .cm_salutations {
  text-align: left;
  padding-bottom: 0.25rem;
  font-size: 1.125rem;
  line-height: 1.75rem;
} */

/* .cm_explanation {
  margin: 1.25rem;
  height: 10rem;
  flex-grow: 1;
  overflow: auto;
  text-align: center;
  text-indent: 1.25rem;
  line-height: 1.5rem;
} */
/* Card Modal Styling Ends */

/* Medium Viewport */
/* @media (min-width: 738px) {
  .cm_title {
    font-size: 1.25rem;
    line-height: 1.75rem;
  }
} */
