@tailwind base;
@tailwind components;
@tailwind utilities;

.banner {
  mask-image: linear-gradient(to bottom, var(--bg_black) 40%, transparent 100%);
  -webkit-mask-image: linear-gradient(to bottom, var(--bg_black) 40%, transparent 100%);
}

@layer base {
  * {
    @apply font-Raleway box-border;
  }

  body {
    @apply m-0 p-0 font-normal bg-pure_black text-cream antialiased;
  }

  html {
    @apply block overflow-x-hidden;
  }

  a {
    @apply no-underline;
  }

  img,
  iframe {
    @apply h-auto w-full max-w-full object-cover rounded-sm border border-cream md:h-full;
    /* is md:h-full needed? */
  }
}

@layer components {
  .banner {
    @apply absolute bg-banner bg-bottom bg-cover top-0 left-0 right-0 h-44 w-auto;
  }

  /* Grid for infinite-scroll */
  .container {
    @apply grid auto-rows-[20rem] gap-2 mr-auto ml-auto md:grid-cols-4;
    /*  is md:max-w-[738px], lg:max-w-[880px] needed?  */
  }
}

@layer utilities {
  ::-webkit-scrollbar {
    background-color: #202324;
    color: #aba499;
    width: 0.6rem;
  }

  ::-webkit-scrollbar-thumb {
    background-color: #454a4d;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #575e62;
  }

  .bottom-8 {
    bottom: 2rem;
  }

  .bottom-0 {
    bottom: 0px;
  }

  .transform_center {
    transform: translate(50%, 50%);
  }

  [hidden],
  .hidden {
    display: none !important;
  }

  .noborder {
    border: none;
  }

  .opacity-0 {
    opacity: 0;
  }

  .block {
    display: block;
  }

  .w-1 {
    width: 1rem;
  }

  .w-2 {
    width: 1.25rem;
  }

  .w-3 {
    width: 1.5rem;
  }
}
