/* Nav Bar Starts */
.hamburger_container {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 0px;
  width: 100%;
  font-weight: 600;
  background-color: transparent;
  border: none;
}

.hamburger {
  position: absolute;
  right: 0px;
  top: 0px;
  padding: 0.5rem;
  cursor: pointer;
  transition-duration: 500ms;
  transform: rotate(180deg);
}

.hamburger:hover {
  background-color: var(--hover_opaque);
}

.nav_bar {
  top: 0px;
  height: 100%;
  animation: slideInNav 0.4s ease-out;
  transition-duration: 150ms;
  font-weight: 600;
  color: var(--cream);
}

.active_nav_bar {
  right: 0px;
  top: 0px;
  background-color: var(--navy_blue);
  z-index: 50;
}

.emblem {
  height: 1.7rem;
  width: 1.7rem;
  padding-left: 0.2rem;
  padding-top: 0.2rem;
  border: none;
}

.mobile_emblem {
  position: absolute;
  width: 1.6rem;
  height: 1.6rem;
  border: none;
}

.close_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  cursor: pointer;
  transition-duration: 500ms;
  height: 2rem;
}

.close_container:hover {
  background-color: var(--hover_opaque);
}

.close_nav_button {
  font-weight: 700;
  font-size: 1.25rem;
  line-height: 1.75rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  text-align: center;
  border-radius: 0.125rem;
  width: 100%;
}

.redirect_button {
  width: 100%;
}

.links {
  display: flex;
}

nav button {
  padding: 0.7rem;
  height: fit-content;
  cursor: pointer;
  transition-duration: 700ms;
  background-color: transparent;
  color: var(--cream);
  border: none;
  font-size: medium;
  font-weight: 400;
}

nav button:hover {
  background-color: var(--hover_opaque);
}

.source {
  text-align: center;
}

.line {
  display: block;
  height: 0.25rem;
  margin: 0.25rem;
  border-radius: 0.375rem;
  background-color: var(--cream);
}
/* Nav Bar Ends */

/* Media Viewports & Animations */
/* Mobile / Small */
@media (min-width: 320px) {
  .hamburger_container {
    height: 100%;
  }

  .nav_bar {
    position: fixed;
    width: 12rem;
    display: none;
  }

  .active_nav_bar {
    position: fixed;
    display: flex;
    flex-direction: column;
  }

  .links {
    flex-direction: column;
    border-top: 1px solid var(--cream);
  }

  .mobile_emblem {
    bottom: 0.5rem;
    right: 0.5rem;
  }
}

/* Tablet / Medium */
@media (min-width: 738px) {
  .hamburger_container {
    height: fit-content;
  }

  .hamburger {
    opacity: 0;
    display: none;
  }

  .nav_bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    animation: slideInNav 1s ease-out;
  }

  .active_nav_bar {
    position: absolute;
    flex-direction: row;
    height: fit-content;
    left: 0px;
    right: 0px;
    background-color: transparent;
    z-index: 50;
  }

  .links {
    flex-direction: row;
    border: none;
  }

  .links button {
    width: 8rem;
    font-size: medium;
    font-weight: 500;
  }

  .close_container {
    display: none;
  }

  .mobile_emblem {
    top: 0px;
    left: 0px;
  }
}

@media (min-width: 1020px) {
  .hamburger_container {
    font-size: 1.125rem;
    line-height: 1.75rem;
  }
}

/* Animations */
@keyframes slideInNav {
  0% {
    transform: translate(100%, 0%);
  }
}
