/* .nav_bar {
  top: 0px;
  height: 100%;
  animation: slideInNav 0.4s ease-out;
  transition-duration: 150ms;
  font-weight: 600;
  color: var(--cream);
}

@media (min-width: 320px) {
  .nav_bar {
    position: fixed;
    width: 12rem;
    display: none;
  }
}

@media (min-width: 738px) {
  .nav_bar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 100%;
    animation: slideInNav 1s ease-out;
  }
} */
