/* .ScrollToTop {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--cream);
  border-radius: 1000px;
  transition-duration: 300ms;
  bottom: 1rem;
  right: 0.5rem;
  z-index: 10;
  color: var(--cream);
  background-color: transparent;
} */

/* .ScrollToTop:hover {
  border: 1px solid lightblue;
} */

/* Mobile / Small */
/* @media (min-width: 320px) {
  .ScrollToTop {
    padding: 0.35rem;
  }
}

@media (min-width: 738px) {
  .ScrollToTop {
    padding: 0.5rem;
  }
} */
